
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
  *{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald', sans-serif;;
  }
  body, .wrapper .content
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body
  {
    min-height: 100vh;
    background: #5d42f5;
  }
  .wrapper
  {
    width: 440px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 30px 38px;
  }
  .wrapper img
  {
    
    max-width: 180px;
    margin-left: 100px;
    
  }
  .wrapper h1
  {
    font-size: 35px;
    font-weight: 400;
    justify-content: space-between;
    margin-left: 110px;
  }
  .wrapper .content.disable
  {
    opacity: 0.6;
    pointer-events: none;
  }
  .content .column
  {
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #7a7777;
    width: calc (100% / 3 - 5px);
  }
  .column select
  {
    outline:none;
    border:none;
    height :40px;
    width: 80px;
    font-size: 18px;
    justify-content: space-between;
  }

  .wrapper button
  {
    width: 100%;
    outline: none;
    border: none;
    margin-top: 20px;
    font-size:20px ;
    padding: 17px 0;
    border-radius: 5px;
    background: #4a98;

  }
